<div style="width: 200px;">
    <ax-carousel>
        <ax-carousel-item>
            <h1>test</h1>
        </ax-carousel-item>
        <ax-carousel-item>
            <h1>heidary</h1>
        </ax-carousel-item>
        <ax-carousel-item>
            <h1>raoofei</h1>
        </ax-carousel-item>
        <ax-carousel-item>
            <h1>hasan </h1>
        </ax-carousel-item>
    </ax-carousel>


    <ax-carousel>
        <ax-carousel-item>
            <img src="http://placeimg.com/640/360/tech">
        </ax-carousel-item>
        <ax-carousel-item>
            <img src="http://placeimg.com/640/360/architecture">
        </ax-carousel-item>
        <ax-carousel-item>
            <img src="http://placeimg.com/640/360/tech">
        </ax-carousel-item>

    </ax-carousel>
</div>