<div style="width: 200px;">
    <!-- <ax-carousel [autoStart]="autoStart">
        <ax-carousel-item>
            <h1>test</h1>
        </ax-carousel-item>
        <ax-carousel-item>
            <h1>heidary</h1>
        </ax-carousel-item>
        <ax-carousel-item>
            <h1>raoofei</h1>
        </ax-carousel-item>
        <ax-carousel-item>
            <h1>hasan </h1>
        </ax-carousel-item>
    </ax-carousel> -->


    <ax-carousel duration="3000">
        <ax-carousel-item>
            <img src="http://placeimg.com/640/480/tech">
        </ax-carousel-item>
        <ax-carousel-item>
            <img src="http://placeimg.com/640/480/architecture">
        </ax-carousel-item>
        <ax-carousel-item>
            <img src="https://placeimg.com/640/480/arch">
        </ax-carousel-item>

    </ax-carousel>
</div>